In [1]:
# lets import the Library
import pandas as pd

In [2]:
# lets read the dataset
data = pd.read_csv('data.csv')

In [3]:
# lets check the head of the dataset
data.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [55]:
data['department'].describe()

count                 54808
unique                    9
top       Sales & Marketing
freq                  16840
Name: department, dtype: object

In [53]:
data[['department','is_promoted']].groupby(['department']).agg('mean').sort_values('is_promoted', ascending = False)

                   is_promoted
department
Technology            0.107593
Procurement           0.096386
Analytics             0.095665
Operations            0.090148
Finance               0.081230
Sales & Marketing     0.072031
R&D                   0.069069
HR                    0.056245
Legal                 0.051011

In [33]:
data[['recruitment_channel','is_promoted']].groupby(['recruitment_channel']).agg('mean')

                     is_promoted
recruitment_channel
other                   0.083952
referred                0.120841
sourcing                0.085013

In [31]:
data[['department','gender','is_promoted']].groupby(['gender',
                        'department']).agg('mean').sort_values(by = 'is_promoted', ascending = False)

                          is_promoted
gender department
f      Analytics             0.120858
       Procurement           0.117128
m      Technology            0.112874
f      R&D                   0.105263
       Technology            0.099354
       Operations            0.094505
m      Analytics             0.092994
       Operations            0.087093
       Finance               0.081402
f      Finance               0.080764
m      Procurement           0.078681
       Sales & Marketing     0.075771
       R&D                   0.066879
f      HR                    0.057654
       Sales & Marketing     0.055802
m      HR                    0.055241
       Legal                 0.052809
f      Legal                 0.040268

In [28]:
x = data[(data['awards_won?'] == 1) & (data['KPIs_met >80%'] == 1) & (data['no_of_trainings'] < 3) & (data['avg_training_score'] > 70)]
x[['is_promoted','department']].groupby(['department']).agg(['count','sum','mean']).style.background_gradient(cmap = 'Wistia')

In [23]:
data[['length_of_service','previous_year_rating',
      'is_promoted','avg_training_score']].groupby(['is_promoted']).agg('mean')

             length_of_service  previous_year_rating  avg_training_score
is_promoted
0                     5.879398              3.267911           62.647686
1                     5.716367              3.986140           71.325193

In [47]:
data['department'].value_counts().index[0]

'Sales & Marketing'

In [37]:
x = data[(data['education'] == "Bachelor's") & (data['department'] == 'Sales & Marketing')]

x[['education','department','is_promoted']].groupby(['education',
                                'department']).agg('mean')

                              is_promoted
education  department
Bachelor's Sales & Marketing     0.071538

In [21]:
data[['education','department','is_promoted']].groupby(['education',
                                'department']).agg(['count','sum','mean']).style.background_gradient(cmap = 'Reds')

In [14]:
pd.crosstab(data['no_of_trainings'], data['is_promoted'])

is_promoted          0     1
no_of_trainings
1                40468  3910
2                 7382   605
3                 1654   122
4                  442    26
5                  125     3
6                   42     2
7                   12     0
8                    5     0
9                    5     0
10                   5     0

## Q1. Does Older Employees getting more Promotion than Younger Employees?

In [4]:
# lets check the range of the age 
max_age = data['age'].max()
min_age = data['age'].min()
print('Minimum age is {} and Maximum age is  {}'.format(min_age, max_age))

Minimum age is 20 and Maximum age is  60

In [5]:
# lets consider all the employees under 30 as young and otherwise as old

young_employees = data[data['age'] <= 30]
old_employees = data[data['age'] > 30]

In [7]:
# Now Lets check the Percentage of Employees getting Promotion from Young and Old Group of Employees.

young_employees['is_promoted'].value_counts()

0    40237
1     3909
Name: is_promoted, dtype: int64

In [8]:
# Now Lets check the Percentage of Employees getting Promotion from Young and Old Group of Employees.

old_employees['is_promoted'].value_counts()

0    9903
1     759
Name: is_promoted, dtype: int64

In [9]:
perc_young = 3909/(40237+3909)  # young_employees[young_employees['is_promorted'] == 1]/young_employees.shape[0]
perc_old = 759/(9909+759)

print(perc_young, perc_old)

0.08854709373442668 0.07114735658042745

## Q2. What is the Probability to get Promoted, If an employeed has won an award?

In [45]:
# lets check the count of employees who got promotion 

award_wining_employees = data[data['awards_won?'] == 1]
award_wining_employees['is_promoted'].value_counts()

0    711
1    559
Name: is_promoted, dtype: int64

In [46]:
# let check the Probability of the employees getting promoted after wining an award

# probability = award_wining_employees[award_wining_employees['is_promoted'] == 1].shape[0]/data.shape[0]
probability = 559/(559+711)
print("The Probability of an Employee to get Promotion is : {0:.2f}%".format(probability*100))

The Probability of an Employee to get Promotion is : 44.02%

In [6]:
award_wining_employees = data[data['awards_won?'] == 0]
award_wining_employees['is_promoted'].value_counts()

0    49429
1     4109
Name: is_promoted, dtype: int64

In [8]:
x = 4109/(4109+49429)
x

0.0767492248496395

## Q3. What is the Average Training Score of those Employees who got Promotion?

In [47]:
promoted_employees = data[data['is_promoted'] == 1]
avg_training_score_promoted_emp = promoted_employees['avg_training_score'].mean()
print("The Average Training Score for the Employees who got Promotion is {0:.0f}".format(avg_training_score_promoted_emp))

The Average Training Score for the Employees who got Promotion is 71

## Q4. What is the Impact of Gender in Promotions?

In [48]:
# lets check the gender gap in total employees

data['gender'].value_counts()

m    38496
f    16312
Name: gender, dtype: int64

In [49]:
# lets check the Gender Gap in Promotion

promoted_employees['gender'].value_counts()

m    3201
f    1467
Name: gender, dtype: int64

In [10]:
m_prom = 3201/38496
f_prom = 1467/16312
print(m_prom, f_prom)

0.08315149625935161 0.08993379107405591

## Q5. What is the Probability of Freshers getting Promoted?

In [12]:
# lets consider the employees who have worked for less than equal to two years

freshers = data[(data['length_of_service'] <= 2) & (data['age'] <= 30)]
freshers['is_promoted'].value_counts()

0    8057
1     743
Name: is_promoted, dtype: int64

In [13]:
# lets check the Percentage also

prob = 743/(8057+743)
print("Probability of a Fresher being Promoted is {0:.2f}%".format(prob*100))

Probability of a Fresher being Promoted is 8.44%